@using LapStore.Web.ViewModels;
@model List<ProductVM>

<h2>قائمة المنتجات</h2>

<p>
    <a asp-action="Create">إضافة منتج جديد</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>الاسم</th>
            <th>الوصف</th>
            <th>السعر</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">تعديل</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">تفاصيل</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>