@model IEnumerable<LapStore.Web.ViewModels.ProductVM>

<h2>Products</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Weight</th>
            <th>Category Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>@product.Weight</td>
                <td>@product.CategoryId</td>
            </tr>
        }
    </tbody>
</table>
